<div class="col-md-12">

<div>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
     <div class="navbar-header">
       <a class="navbar-brand" href="#/">Back</a>
     </div>
     <div>
       <ul class="nav navbar-nav">
         <li class="active"><a>{{detailCtrl.details.name}}</a></li>
         <li><a href="#/order">View Cart</a></li>
       </ul>
       <ul class="nav navbar-nav navbar-right">
         <li><a>Amount:{{detailCtrl.cost|currency:"&#8377;"}}/-</a></li>
       </ul>
     </div>
    </div>
  </nav>
</div>

<center>
  <div class="piz">
    <table>
      <tr align="center">
        <td rowspan="2">
          <img style="float:left" ng-src="{{detailCtrl.details.image}}" width="300">
        </td>
        <td width="100%">
          <h1>{{detailCtrl.details.rate|currency:"&#8377;"}}/-</h1>
        </td>
      </tr>
      <tr>
        <td align="center" width="100%">
          <select name="quantity" ng-model="detailCtrl.newPizza.qty" ng-click="detailCtrl.findCost()">
            <option value="">---Quantity---</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
          </select>
        </td>
      </tr>
    </table>
    <table width="37.25%">
      <tr>
      </tr>
      <tr>	
        <td align="center">
          <b>{{detailCtrl.details.name}}</b>
        </td>
      </tr >
      <tr align="center">
        <td>
          {{detailCtrl.details.description}}
        </td>
      </tr>
    </table>
  </div>
</center>
<div>
	<br>
</div>
<div>
  <center><a ng-click="detailCtrl.savePizza()" href="">Add To Cart</a></center>
<div>

</div>
